.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    background-color: hsla(0,0%,0%, 0.4);
    display: grid;
    grid-template-rows: 5.65em auto;

    &__buttons {
        position: relative;
        z-index: 20;
        justify-self: center;
        align-self: flex-end;
    }

    &__tooltip {
        position: relative;
        z-index: 10;
        width: 260px;
    }

    &__tooltip svg {
        width: 260px;
        height: auto;
    }

    &__tooltipText {
        position: absolute;
        left: 80px;
        top: 58px;
        width: 160px;
        opacity: 0;
        animation: fadeIn 0.2s ease-in 1.3s forwards;
    }

}

.myCircle {
    r: 0px;
    animation: circleAnimation 0.3s ease-in 0.7s forwards;
}
.tooltip {
    fill-opacity: 0;
    animation: fadeIn 0.3s ease-in 1s forwards;
    
}

@keyframes circleAnimation {
    to {
        r:40px
    }
    
}

@keyframes fadeIn {
    to {
        fill-opacity: 1;
        opacity: 1;
    }
}